<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ results_dict['name'] }}'s survey response</title>
</head>
<body>
    <h1>Your Survey Responses:</h1>
    <p>Name: {{ results_dict['name'] }}</p>
    <p>Dojo Location: {{ results_dict['dojo_location'] }}</p>
    <p>Favorite Programming Language: {{ results_dict['favorite_language'] }}</p>
    <p>Comments: {{ results_dict['comments'] }}</p>
</body>
</html>
